* {
    margin: 0px;
    padding: 0px;
}

#sidebar {
    min-height: 100vh;
    min-width: 17%;
    max-width: 270px;
    background: #f5f5f5;
    color: blue;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

#sidebar.active {
    margin-left: -17%;
}

#sidebar.active .custom-menu {
    margin-right: -15%;
}

#sidebar ul li a {
    padding: 10px 0;
    display: block;
    color: #0080ff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar ul li a:hover {
    color: #0000ff;
    text-decoration: none;
}

#sidebar ul li.active>a {
    background: transparent;
    color: #fff;
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -270px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebar .custom-menu {
        margin-right: -60px !important;
        top: 10px !important;
    }
}

#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: 4%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar .custom-menu .btn {
    width: 37px;
    height: 37px;
    /* border-radius: 50%; */
}

#sidebar .custom-menu .btn.btn-primary {
    background: #393c7f;
    border-color: #393c7f;
}

#sidebar .custom-menu .btn.btn-primary:hover,
#sidebar .custom-menu .btn.btn-primary:focus {
    background: #393c7f !important;
    border-color: #393c7f !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

/* .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}
